<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/showall.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>CoinPrice - Show All</title>
</head>
<body>
    <%- include('header') %>
    <div class="container">
        <h2>All Cryptocurrencies</h2>
        <div class="search-bar">
            <input type="text" placeholder="Search for a cryptocurrency...">
        </div>
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <% allCoins.forEach(coin => { %>
                    <tr>
                        <td>
                            <img src="<%= coin.image %>" alt="<%= coin.symbol %> logo" class="img-fluid">
                            <%= coin.symbol.toUpperCase() %>
                        </td>
                        <td><%= coin.current_price %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
